  <!-- Datetimepciker////////////////// -->
<form class="d-flex flex-column justify-content-center ms-2" style="width: 60rem;">
    <div class="row form-group ">
        <label for="date" class="col-sm-1 col-form-label">Fecha inicio</label>
        <div class="col-sm-4">
          <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <i class="bi bi-calendar"></i>
            </span>
          </div>
        </div>
    </div>
  </form>
  <form class="d-flex flex-column justify-content-center ms-2" style="width: 60rem;">
    <div class="row form-group ">
        <label for="datetime" class="col-sm-1 col-form-label">Fecha fin</label>
        <div class="col-sm-4">
          <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
              <span><i class="bi bi-calendar"></i></span>
            </span>
          </div>
        </div>
    </div>
  </form>
  <!-- Datetimepciker////////////////// -->