<body>  
    <div class="container">
      <div class="col" id="facility" *ngFor="let facility of facility">
        <ul>
          <a href="/facility-details?id={{facility?.id}}"> <img src="{{facility?.user?.photo}}" alt="photo del assistente" class="img"></a>
          <p class="details">
            Servicio: {{facility.title}} / Descripción:{{facility.description}}
          </p>
          <p class="details">
            {{facility.price}}€ (Precio por hora)
          </p>
          <p>"{{facility?.user?.name}}" / Ciudad "{{facility?.user?.location}}"</p>
        </ul>
      </div>
    </div>
    <div class="button">
      <div class="d-flex justify-content-center">
        <button class="btn submit btn-md" (click)="add()" style="height: 2.5rem; width: 12rem;">Añadir</button>
      </div>
    </div>
  </body>