<div class="row mb-3">
   <div class="row" *ngIf="facility.length == 0">
    <div class="jumbotron">
    <h3>
     <strong></strong> No existen asistencias en esta categoria, esperamos en breve contar con alguien!!!
       </h3>
     </div>
   </div>
  <div class="row justify-content-center g-0 mx-5 my-3 py-5 card-mobile" *ngFor="let facilities of facility">
    <div class="col-md-2">
    <a href="/facility-details?id={{facilities.id}}"> <img class="img-fluid rounded-start" src="{{facilities?.assistant?.photo}}"alt="photo del assistente"
        class="imagencarta" ></a>
    </div>
    <div class="col-md-5 ps-5 pt-4 details">
    <p class="card-title fw-bold">{{facilities?.title}}</p>
    <p class="card-title">{{facilities?.description}}</p>
    <p class="card-title">{{facilities?.pricePerHour}}€(Precio por hora)</p>
    <p class="card-title">{{facilities?.assistant?.name}}</p>
    <p class="card-title">{{facilities?.assistant?.city}}</p>
    </div>
  </div>
</div>