<h4 class="texto">Estado de mis solicitudes</h4>
<!-- <div class="card-body border border-dark">
      <img class="imagencarta" src="/assets/img/john.jpg" alt="">
      <div class="texto">
        <p class="card-text">{{contract.facility.title}}</p>
        <p>{{contract.facility.user.name}}</p>
        <p>Inicio:{{contract.start}}</p>
        <p>Fin:{{contract.finish}}</p>
        <p>Precio Total: {{contract.total.price}}</p>
        <button type="button" class="btn btn-danger">Solicitado</button>
        <button type="button" class="btn btn-danger">Aceptado</button>
        <button type="button" class="btn btn-info">Rechazado</button>     
      </div> 
    </div>-->
 