<div class="row">
  <app-navlateral class="col-3"></app-navlateral>
  <div class="col-9 details p-5">
    <h1 style="color:rgb(21, 21, 84);">Estado de mis solicitudes</h1>
    <div class="row new" *ngFor="let contract of clientGetRequest">
      <div class="row" *ngIf="clientGetRequest.length == 0">
       <div class="jumbotron">
       <h3>
        <strong></strong> No tienes ninguna peticion enviada,animate!!!
          </h3>
        </div>
        
        </div>
      <div class="col-md-3">
        <a> <img class="img" src="{{contract?.facility?.assistant?.photo}}" alt="photo del assistente"></a>
      </div>
      <div class="col-6 details mx-5 d-flex p-3">
        <div>
          <p class="card-title ">{{contract?.facility?.title}}</p>
          <p class="card-title ">{{contract?.facility?.assistant?.name}}</p>
          <p class="card-title ">{{contract?.facility?.description}}</p>
          <p class="card-title ">Inicio: {{contract?.start}}</p>
          <p class="card-title ">Fin: {{contract?.finish}}</p>
        </div>
        <div class="text-center align-center">
          <button [ngStyle]="{'background-color': contract.state === 'DECLINED'? 'red' :contract.state === 'ACCEPTED'?'#10b981':'#0284c7' }" type="button"
            class="btn card-title text-left text-white"> Estado: {{contract?.state}}</button>
        </div>
      </div>
    </div>
  </div>
</div>