<div class="cardcomponent p-5">

  <!-- <div class="container-fluid card-body border border-dark mx-auto my-5  ">
    <div class=" d-flex justify-content-center px-2 " *ngFor="let facility of facility">
        <div class="text-container d-flex justify-content-center">
          <a href="/facility-details?id={{facility?.id}}"> <img src="../../../assets/img/chica.png" alt="photo del assistente"
            class="imagencarta img-fluid w-75 h-75 mt-5 mx-3" ></a>
           {{facility?.user?.photo}} -->
          <!-- <div class=" card-text my-5 px-5  text-wrap">
            <p>Servicio: {{facility?.title}}</p>
            <p>Descripción:{{facility?.description}}</p>
            <p>Precio por hora: {{facility?.pricePerHour}}€</p>
            <p>Nombre: {{facility?.user?.name}}</p>
            <p>Ciudad: {{facility?.user?.city}}</p> -->
  <!-- 
            <form class="d-flex flex-column justify-content-center" style="width: 30rem;">
              <div class="row form-group ">
                  <label for="date" class="col-sm-1 col-form-label">Date</label>
                  <div class="col-sm-4">
                      <div class="input-group date" id="datepicker">
                          <input type="text" class="form-control">
                          <span class="input-group-append">
                              <span class="input-group-text bg-white">
                                  <i class="fa fa-calendar"></i>
                              </span>
                          </span>
                      </div>
                  </div>
              </div>
            </form> -->
            
          <!-- </div>
        </div>
  
    </div> -->
  
    <!-- <div class="d-flex  ">
      <div class="px-5 py-4">
        <form class="flex-column  justify-content-end mx-4" style="width: 55rem;">
          <div class="row form-group ">
              <label for="date" class="col-sm-1 col-form-label">Date</label>
              <div class="col-sm-4">
                  <div class="input-group date" id="datepicker">
                      <input type="text" class="form-control">
                      <span class="input-group-append">
                          <span class="input-group-text bg-white">
                              <i class="fa fa-calendar"></i>
                          </span>
                      </span>
                  </div>
              </div>
          </div>
        </form>
  
        <div class="button">
          <div class="d-flex  justify-content-center">
            <button class="btn submit btn-md sendBtn fs-3 m-5 fw-semibold text-center d-flex align-items-center justify-content-center rounded" (click)="add()" style="height: 3rem; width: 12rem;">Enviar</button>
          </div>
        </div>
  
      </div>
  </div> ------------------------------------------------------------------------------------------------------------------>
  
  
<section class="d-flex justify-content-center">
  <div class="card border-dark mb-3" style="height: 35rem; max-width: 100rem;">
    <div class="row g-0"  *ngFor="let facility of facility">
        <div class="col-md-4 my-5 ms-5">
          <a href="/facility-details?id={{facility?.id}}">
            <img src="../../../assets/img/chica.png" class="img-fluid rounded-start w-75 " alt="...">
            {{facility?.user?.photo}} 
          </a>
        </div>
        <div class="col-md-4 my-5">
          
          <div class="card-text" >
            <h5 class="card-title" >Servicio: {{facility?.title}}</h5>
            <p class="card-text"><small class="text-muted">Nombre: {{facility?.user?.name}}</small></p>
            <p class="card-text"><small class="text-muted">Ciudad: {{facility?.user?.city}}</small></p>
            <p class="card-text text-wrap text-card" >Descripción:{{facility?.description}}</p>
            <p class="card-text text-wrap text-card" >Precio por hora:{{facility?.pricePerHour}}€</p>
            <form class="d-flex flex-column justify-content-center" style="width: 60rem;">
              <div class="row form-group ">
                  <label for="date" class="col-sm-1 col-form-label">Fecha</label>
                  <div class="col-sm-4">
                      <div class="input-group date" id="datepicker">
                          <input type="text" class="form-control">
                          <span class="input-group-append">
                              <span class="input-group-text bg-white">
                                  <i class="fa fa-calendar"></i>
                              </span>
                          </span>
                      </div>
                  </div>
              </div>
            </form>
          </div>

          <div class="button">
            <div class="d-flex  justify-content-center">
              <button class="btn submit btn-md sendBtn fs-3 m-5 fw-semibold text-center d-flex align-items-center justify-content-center rounded" (click)="add()" style="height: 3rem; width: 12rem;">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
