/* .fotografia{ */
    /* display: flex; */
    /* max-width: 1000%; */
/* } */
.body{
    background-image: url();
}
 img{
max-width: 100%;
 }
.card-title{
    font-family: 'Montserrat', sans-serif;
    text-justify:auto;
}
.btn-danger{
    margin-right: 10px;
}
.border-dark{
    position: relative;
    right: -10px;
    margin-top: 100px;

}
.border-dark{
    border: 3px solid green;
border-radius: 6px;
margin: 110px;
top:-88px;
position: relative;
background-color: #EEEEEE;
}

.texto{
    height: 25vh;
    right: -100px;
    text-align: center;
    overflow: hidden;
    
}
.a{
    background: darkblue;
}

.foto1{
    display: flex;
}
.textocentrado{
    justify-content: center;
    position: relative;
}
.img-fluid{
    position: fixed;
    height:700px;
    right: 1px;
   width: 2100px;
   top:70px;
}
.nav-pills{
    color: red;
}
footer{
    position: absolute;
    bottom: 0px;
    height: 175px;
    width: 100%;
    right: 1px;
    margin: auto;
}
.imagencarta{
    display: flex;
    align-content: flex-start;
    align-items: baseline;
    justify-content: space-around;
    height: 240px;
    border-radius: 7px;
    left: 0px;
    top:0px;
    max-width: 100%;
}
.details{
    background: rgba(238, 238, 238, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.col-sm-1{
position: absolute;
width: 100px;
}

.btn{
    background-color: #76EAD7;
}
@media (max-width: 575.98px){
    .card-mobile{
    background: rgba(238, 238, 238, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    }
    .row{
        flex-shrink: 1;
    }
}