.clientcell{
    background-color:rgba(238, 238, 238, 0.5) ;
}

.btn-yes {
    background-color: rgba(36, 180, 36, 0.886);
    color: antiquewhite;
}
.btn-no{
    background-color: rgba(234, 52, 52, 0.871);
    color: antiquewhite;
}