.register-page{
   height:100vh;
   font-family: 'Montserrat';
}
form{
    width:40vw;
    margin: auto;
}
label, .btn{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
}
.box{
    width:50vw;
    background-color: #EEEEEE80;
    margin: auto;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.btn{
    color:black;
    background-color: #76EAD750;
    border: 1px solid black;
}
.assistant{
    color:white;
    background-color:  rgba(16, 50, 72, 0.82);
}
.assistant:hover{
    background-color:  rgba(4, 23, 36, 0.82);
}
.signup:hover{
    background-color:  #0e3d3550;
    color:black;
}
@media (min-width:350px) and (max-width:576px){
    .box{
        box-shadow: none;
        background-color: transparent;
        width:80vw;
    }
    form{
        width:70vw;
        margin-bottom: 0.5rem;
    }
}