<div class="row">
    <app-navlateral class="col-2"></app-navlateral>
  <div class="container d-grid gap-5 col-8 mb-3" style="align-content: center;  left: -8.5rem;">
<h1 style="color:rgb(21, 21, 84);  " >Todos los Servicios</h1>
<table class="table padding: 4rem; margin-top:5rem; table-striped " >
    <thead>
        <tr>
            <th scope="col">IdServicio</th>
            <th scope="col">IdAssistente</th>
            <th scope="col">Assistente</th>
            <th scope="col">Servicio</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio Hora</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor=" let facility of facility">
            <tr>
                <td class="col-1">{{facility?.id}}</td>
                <td class="col-1">{{facility?.assistant?.id}}</td>
                <td class="col-1">{{facility?.assistant?.name}}</td>
                <td class="col-2">{{facility?.title}}</td>
                <td class="col-2">{{facility?.description}}</td>
                <td class="col-1">{{facility?.pricePerHour}}€</td>
                <td class="col-1 my-auto" >
                    <button class="btn submit btn-lg btn-primary" (click)="updateFacility()"
                        style="height: auto; width: auto; " routerLink="/facility-edit/{{facility.id}}" >Editar
                    </button></td>
                <td class="col-1"> 
                    <button class="btn submit btn-lg btn-danger" (click)="deleteFacility(facilityData.id)"
                        style="height: auto; width: auto;">Borrar
                    </button>
                </td> 
            </tr>
        </ng-container>
    </tbody>
</table>
  </div>
</div>
