<div class="row">
  
    <div class="row">
      <img class="img" src="{{facility?.user?.photo}}" alt="...">
      <h5 class="card-title">{{facility?.title}}</h5>
      <h5 class="card-title">Descripción: {{facility?.description}}</h5>
      <h5 class="card-title">Nombre: {{facility?.user?.name}}</h5>
      <h5 class="card-title">Ciudad:{{facility?.user?.location}}</h5>
      <h5 class="card-title">Precio por hora: {{facility?.pricePerHour}}</h5>

    </div>
    <div class="btns">
      <button class="button-addon2" routerLink="/facility-edit/{{facility?.id}}">
        Edit
      </button>
      <!-- <button class="button-addon2" routerLink="/facility-book/{{facility?.id}}">
        Book
      </button> -->
    </div>
  </div>
