<div class="row">
  <div class="col-md-4">
    <img class="img" src="{{facility?.assistant?.photo}}" alt="...">
  </div>
  <div class="col-md-8">
     <h5 class="card-title">Titulo: {{facility?.title}}</h5>
    <h5 class="card-title">Descripción: {{facility?.description}}</h5>
    <h5 class="card-title">Precio por hora: {{facility?.pricePerHour}}</h5>
    <h5 class="card-title">Nombre: {{facility?.assistant?.name}}</h5>
    <h5 class="card-title">Email: {{facility?.assistant?.email}}</h5>
    <h5 class="card-title">Ciudad: {{facility?.assistant?.city}}</h5>
    <h5 class="card-title">Telefono: {{facility?.assistant?.phone}}</h5>
  </div>
  <div class="btns">
      <button class="btn btn-lg button"  routerLink="/facility-edit/{{facility.id}}">
        Edit
      </button>
      <button class="btn btn-lg button"  routerLink="/facility-contract/{{facility.id}}">
        Enviar Solicitud
      </button> 
    </div>
</div>

