<div class="navlateral"> 
    <th class="nav" scope="row" routerLink="/profile">Profile</th>
    <br>
    <th class="nav" scope="row" routerLink="/client">Solicitudes Enviadas</th>
    <br>
    <th class="nav" scope="row" routerLink="/facility-board/facilityA">Mis Servicios</th>
    <br>
    <th class="nav" scope="row" routerLink="/mycontracts">Solicitudes Pendientes</th>
    <br>
    <th class="nav" scope="row" routerLink="/nextjobs">Mi Agenda</th>
    <br>
    <th class="nav" scope="row" routerLink="/facility-add">Añadir un Servicio</th>
    <br>
    <th *ngIf="showAdminBoard" class="nav" scope="row" routerLink="/allusers">Todos los Usuarios</th>
    <br>
    <th *ngIf="showAdminBoard"class="nav" scope="row" routerLink="/allfacilities">Todos los Servicios</th>
    <br>
    <th *ngIf="showAdminBoard"class="nav" scope="row" routerLink="/allcontracts">Todos los Contractos</th>
</div>
