  <div class="py-3">
    <section class="d-flex justify-content-center my-5 py-5">
      <div class="card border-dark mb-3" style="height: 35rem; max-width: 100rem;">
        <div class="row g-0"  *ngFor="let facility of facility">
            <div class="col-md-4 my-5 ms-5">
              <a href="/facility-details?id={{facility?.id}}">
                <img src="../../../assets/img/chica.png" class="img-fluid rounded-start w-75 " alt="...">
                {{facility?.user?.photo}} 
              </a>
            </div>
            <div class="col-md-4 my-5">
              
              <div class="card-text" >
                <h5 class="card-title" >Servicio: {{facility?.title}}</h5> <!-- Have been thinking about change ".title" by ".category" maybe-->
                <p class="card-text"><small class="text-muted">Nombre: {{facility?.user?.name}}</small></p>
                <p class="card-text"><small class="text-muted">Ciudad: {{facility?.user?.city}}</small></p>
                <p class="card-text text-wrap text-card" >Descripción:{{facility?.description}}</p>
                <p class="card-text text-wrap text-card" >Precio por hora:{{facility?.pricePerHour}}€</p>
              </div>
            </div>
          </div>
          <div class="px-5">
            <form class="d-flex flex-column justify-content-center" style="width: 60rem;">
              <div class="row form-group ">
                  <label for="date" class="col-sm-1 col-form-label">Fecha</label>
                  <div class="col-sm-4">
                      <div class="input-group date" id="datepicker">
                          <input type="text" class="form-control">
                          <span class="input-group-append">
                              <span class="input-group-text bg-white">
                                  <i class="fa fa-calendar"></i>
                              </span>
                          </span>
                      </div>
                  </div>
              </div>
            </form>
            <form class="d-flex flex-column justify-content-center" style="width: 60rem;">
              <div class="row form-group ">
                  <label for="date" class="col-sm-1 col-form-label">Fecha</label>
                  <div class="col-sm-4">
                      <div class="input-group date" id="datepicker2">
                          <input type="text" class="form-control">
                          <span class="input-group-append">
                              <span class="input-group-text bg-white">
                                  <i class="fa fa-calendar"></i>
                              </span>
                          </span>
                      </div>
                  </div>
              </div>
            </form>
            <div class="button py-4">
              <div class="d-flex  justify-content-center">
                <button class="btn submit btn-md sendBtn fs-3 m-5 fw-semibold text-center d-flex align-items-center justify-content-center rounded" (click)="add()" style="height: 3rem; width: 12rem;">Enviar</button>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>