
.body{
    background-image: url();
    background-size: auto;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    text-justify:auto;
}
.card-body{
    height: 42rem;
}

.border-dark{

background-color: rgba(238, 238, 238, 0.500);

}

.text-container{
    width: 100%;
   
    
}

.textocentrado{
    justify-content: center;
    
}


.card-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #000000;

    width: 40rem;
   
}


.sendBtn{
    border-color: #393E46;
    border-width: 0.15rem;
    background-color: #76EAD7;
}

@media (min-width:350px) and (max-width:576px){


    .card-text{
        background-color: chartreuse;
        width: 15rem;
    }
}