<body>  
    <div class="container">
      <div class="col" id="assistant" *ngFor="let assistant of assistant">
        <ul>
          <a href="/assitant-details?id={{assistant?.id}}"> <img src="{{assistant?.user?.photo}}" alt="photo del assistente" class="img"></a>
          <p class="details">
            Servicio: {{assistant.title}} / Descripción:{{assistant.description}}
          </p>
          <p class="details">
            {{assistant.pricePerHour}}€ (Precio por hora)
          </p>
          <p>"{{assistant?.user?.name}}" / Ciudad "{{assistant?.user?.location}}"</p>
        </ul>
      </div>
    </div>
    <div class="button">
      <div class="d-flex justify-content-center">
        <button class="btn submit btn-md" (click)="add()" style="height: 2.5rem; width: 12rem;">Añadir</button>
      </div>
    </div>
  </body>