<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
  crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
<body>
<div class="card text-center">
<!-- <ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mi pagina</a>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-info">Salir</button>
  </li>
</ul> -->

<h4>Estado de mis solicitudes</h4>
<div class="card-body border border-dark">

  <p class="card-text">JOHN DOE</p>
  <div class="texto">
    <p>Servicio Contratado: xxxx </p>
    <p>Inicio:</p>
    <p>Fin:</p>
    <p>Precio Total: </p>
    <button type="button" class="btn btn-danger">Solicitado</button>
    <button type="button" class="btn btn-danger">Aceptado</button>
    <button type="button" class="btn btn-info">Rechazado</button>
    <div>
    </div>
    <img src="/assets/img/john.jpg" alt="">
    <p>Por hora <b>10 €</b></p>
  </div>

</div>
<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
  </ul>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
      </ul>
    </div>
    <div class="card-body border border-dark">
      <h5 class="card-title">Servicio Acompañante</h5>
      <p class="card-text">JOHN DOE</p>
      <div class="texto">
        <p>Servicio Contratado: xxxx </p>
        <p>Inicio:</p>
        <p>Fin:</p>
        <p>Precio Total: </p>
      </div>
      <button type="button" class="btn btn-danger">Solictado</button>
      <button type="button" class="btn btn-danger">Aceptado</button>
      <button type="button" class="btn btn-info">Rechazado</button>
      <img src="/assets/img/john.jpg" alt="">
      <p>Por hora <b>18 €</b></p>
    </div>
    <footer class="a"></footer>

    <div class="card-body border border-dark">
      <p class="card-text">JOHN DOE </p>
      <div class="texto">
        <p>Servicio Contratado: xxxx </p>
        <p>Inicio:</p>
        <p>Fin:</p>
        <p>Precio Total: </p>
        <button type="button" class="btn btn-danger">Solicitado</button>
        <button type="button" class="btn btn-danger">Aceptado</button>
        <button type="button" class="btn btn-info">Rechazado</button>
        <img src="/assets/img/john.jpg" alt="">
        <p>Por hora <b>18 €</b></p>
      </div>
      <footer class="a"></footer>
    </div>
  </div>
</div>
</div>
</body>
