<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">

<body>
  <main class="container">
    <div class="row">
      <div class="col-21">
        <img src="./assets/img/foto.webp" alt="fondo" class="img-fluid">
      </div>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Todos los servicios</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Mis trabajos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mis Asistentes</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-info">Salir</button>
      </li>
    </ul>
    <h4 class="texto">Estado de mis solicitudes</h4>
    <div class="card-body border border-dark">
      <img class="imagencarta" src="/assets/img/john.jpg" alt="">
      <div class="texto">
        <p class="card-text">{{contract.facility.title}}</p>
        <p>{{contract.facility.user.name}}</p>
        <p>Inicio:{{contract.start}}</p>
        <p>Fin:{{contract.finish}}</p>
        <p>Precio Total: {{contract.total.price}}</p>
        <button type="button" class="btn btn-danger">Solicitado</button>
        <button type="button" class="btn btn-danger">Aceptado</button>
        <button type="button" class="btn btn-info">Rechazado</button>
        <div>
        </div>
      </div>
      <div class="container-fluid">
      </div>
    </div>
  </main>
  <footer><i class="fa-brands fa-twitter"></i></footer>
  <i class="fa-brands fa-twitter"></i>