<section class="home-page">
    <div class="text-container">
        <p class="text-justify">
            Somos un portal desde el que puedes conectar con asistentes que te ofrezcan la ayuda que necesitas. Si eres trabajador y buscas clientes, también puedes ofrecer tus servicios desde aquí.
        </p>
    </div>
    <div class="card-group">
        <div class="card mx-3 my-10 border border-dark rounded" id="limpieza">
          <img src="./assets/channelHome.png" class="card-img-top" alt="...">
          <div class="title-container p-2">
            <h5 class="card-title">Limpieza</h5>
        </div>
        </div>
        <div class="card mx-3 my-10 border border-dark rounded" id="recados">
          <img src="./assets/Shopping-cart.png" class="card-img-top" alt="...">
          <div class="title-container p-2">
            <h5 class="card-title">Recados</h5>
          </div>
        </div>
        <div class="card mx-3 my-10  border border-dark rounded" id="movilidad">
          <img src="./assets/image 17.png" class="card-img-top" alt="...">
          <div class="title-container p-2">
            <h5 class="card-title">Movilidad</h5>
        </div>
        </div>
        <div class="card mx-3 my-10 border border-dark rounded" id="viajes">
            <img src="./assets/suitcase_light.png" class="card-img-top" alt="...">
            <div class="title-container p-2">
              <h5 class="card-title">Viajes</h5>
            </div>
          </div>
          <div class="card mx-3 my-10 border border-dark rounded" id="cuidados">
            <img src="./assets/stethoscope_light.png" class="card-img-top" alt="...">
            <div class="title-container p-2">
              <h5 class="card-title">Cuidados</h5>
            </div>
          </div>
      </div>
</section>
