<app-header></app-header>
<section class="home-page py-5">
    <div class="text-container ">
        <p class="text-justify">
            Somos un portal desde el que puedes conectar con asistentes que te ofrezcan la ayuda que necesitas. Si eres trabajador y buscas clientes, también puedes ofrecer tus servicios desde aquí.
        </p>
    </div>
    <div class="card-group">

        <div class="card desktop-blue mx-3 my-5 border border-dark rounded" >
        <div class="icon-card mobile-blue justify-content-center d-flex align-items-center">
        <img src="./assets/channelHome.png" class="card-img-top" alt="...">
        </div>
          <div class="title-container p-2 justify-content-center d-flex align-items-center">
            <h5 class="card-title fw-bold">Limpieza</h5>
        </div>
        </div>
        <div class="card desktop-yellow mx-3 my-5 border border-dark rounded">
            <div class="icon-card mobile-yellow justify-content-center d-flex align-items-center">
          <img src="./assets/Shopping-cart.png" class="card-img-top" alt="...">
          </div>
          <div class="title-container p-2 justify-content-center d-flex align-items-center rounded-end">
            <h5 class="card-title fw-bold">Recados</h5>
          </div>
        </div>
        <div class="card desktop-green mx-3 my-5  border border-dark rounded">
        <div class="icon-card mobile-green justify-content-center d-flex align-items-center">
          <img src="./assets/image 17.png" class="card-img-top" alt="...">
        </div>
          <div class="title-container p-2 justify-content-center d-flex align-items-center rounded-end">
            <h5 class="card-title fw-bold">Movilidad</h5>
        </div>
        </div>
        <div class="card desktop-red mx-3 my-5 border border-dark rounded">
            <div class="icon-card mobile-red justify-content-center d-flex align-items-center">
            <img src="./assets/suitcase_light.png" class="card-img-top" alt="...">
        </div>
            <div class="title-container p-2 justify-content-center d-flex align-items-center rounded-end">
              <h5 class="card-title fw-bold">Viajes</h5>
            </div>
          </div>
          <div class="card desktop-purple mx-3 my-5 border border-dark rounded">
            <div class="icon-card mobile-purple justify-content-center d-flex align-items-center">
            <img src="./assets/stethoscope_light.png" class="card-img-top" alt="...">
        </div>
            <div class="title-container p-2 justify-content-center d-flex align-items-center rounded-end">
              <h5 class="card-title fw-bold">Cuidados</h5>
            </div>
          </div>
      </div>
</section>
<app-footer ></app-footer>
