.home-page{
    /*position: absolute;*/
    background-image: url(https://images.unsplash.com/photo-1564352969906-8b7f46ba4b8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    /*height: 100vh;
    width:100vw;*/
}
.text-container{
    padding: 3rem;
    display: table;
    position: relative;
    box-sizing: border-box;
    width: 60vw;
    height: 10vh;
    background: #103248;
    border: 1px solid #103248;
    border-radius: 20px;
    margin:auto;
    justify-content: center;
    vertical-align: middle;
}

img{
    height: 25rem;
}
.textcss{ 
/*position: relative;*/
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 2.5rem;
text-align: center;
justify-content: space-between;
letter-spacing: 0.04rem;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
vertical-align: middle;
}

.color{
    color: black;
  
}
.card{
    height:50vh;
    width: 17vw;
    padding: 2rem;
}
.card-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.card:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}
.icon-card{
    border-radius: 30% 0% 0% 30%;
}
.card-img-top{
    position: relative;
    object-fit: contain;
}
.title-container{
    box-sizing: border-box;
    background-color: #EEEEEE;
    border-top: 1px;
    border-bottom: 1px; 
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: black; 
    margin-top: 20%;
    position: absolute;
    width: 100%;
    margin-left: 0;
    left: 0px;
    overflow: hidden;
}
.card-title{
    text-align: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: 700;
}
.desktop-yellow{
    background-color: #E3E579;
}
.desktop-blue{
    background-color: rgba(148, 240, 218, 0.98);
}
.desktop-green{
    background-color: #A9E579;
}
.desktop-red{
    background-color: #E58679;
}
.desktop-purple{
    background-color: #D9AEF4;
}
@media (min-width:350px) and (max-width:576px){
    .text-container{
       margin:5vh auto;
       height: 21vh;
       width: 90vw;
    }
    .textcss{
        font-size:15px;
        
        
    }
    .card{
      display:flex;
      flex-direction: row;
      width: 90vw;
      height: 14vh;
      background-color: none;
      padding: 0%;
    }
    .card-img-top{
        width:28%;
        margin-top:0px;
        position: absolute;
        right: 25px;
    }
    .title-container{
        margin-top: 0;
        bottom:0px;
        width:45vw;
        height:100%;
        border-radius: 0rem 0.25rem 0rem 0.25rem;
        border-top: 1px;
        border-bottom: 1px; 
        border-left: 0px;
        border-right: 1px;
    }
    .icon-card{
        background-color: rgba(148, 240, 218, 0.98);
        width:100%;
    }
    .mobile-yellow{
        background-color: #E3E579;
    }
    .mobile-blue{
        background-color: rgba(148, 240, 218, 0.98);
    }
    .mobile-green{
        background-color: #A9E579;
    }
    .mobile-red{
        background-color: #E58679;
    }
    .mobile-purple{
        background-color: #D9AEF4;
    }
 }
 @media only screen and (min-width: 768px) {
    .card{
        display: table;
        max-height: 50vh;
        max-width: 17vw;
    }

 } 

 @media only screen and (min-width:576px) and (max-width:700px){
    .card{
        display: table;
        max-height: 50vh;
        max-width: 17vw;
    }

 } 