/* .fotografia{ */
    /* display: flex; */
    /* max-width: 1000%; */
/* } */
.body{
    background-image: url();
}
img{
display: flex;
width: 20%;
    height: 200px;;
    position: absolute;
    top:6px;

}
.card-title{
    font-family: 'Montserrat', sans-serif;
    text-justify:auto;
}
.btn-danger{
    margin-right: 10px;
}
.border-dark{
    position: relative;

}
.border-dark{
    border: 3px solid green;
border-radius: 6px;
margin: 70px;
background-color: #EEEEEE;
}

.texto{
    right: -100px;
    text-align: center;
    
}
.a{
    background: darkblue;
}
.nav-link{
    background: orange;
}
.navegador{
color: black;
background: greenyellow;
}
.fotografia{
    position: relative;
    height: 170px;
    top:100px;
}

.foto1{
    display: flex;
}
.textocentrado{
    justify-content: center;
    position: relative;
}
.img-fluid{
    position: fixed;
    height:500px;
    right: 1px;
   width: 2100px;
   top:70px;
}
.nav-pills{
    color: red;
}
footer{
    position: absolute;
    bottom: 0px;
    background-color:black;
    height: 175px;
    width: 100%;
    right: 1px;
    margin: auto;
}