/* .fotografia{ */
    /* display: flex; */
    /* max-width: 1000%; */
/* } */
.body{
    background-image: url();
}
img{
display: flex;
width: 20%;
    height: 260px;;
    position: absolute;
    top:6px;

}
.card-title{
    font-family: 'Montserrat', sans-serif;
    text-justify:auto;
}
.btn-danger{
    margin-right: 10px;
}
.border-dark{
    position: relative;

}
.border-dark{
    border: 3px solid green;
border-radius: 6px;
margin: 100px;
background-color: #EEEEEE;
}

.texto{
    right: -100px;
    text-align: center;
    
}
.a{
    background: darkblue;
}
.nav-link{
    background: orange;
}
.navegador{
color: black;
background: greenyellow;
}
.fotografia{
    position: relative;
    height: 170px;
    top:100px;
}
.encabezado{
    color: black;
    display: flex;
}
.foto1{
    display: flex;
}