
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.52857143;
    color: #515253;
    background-color: #ddd;
    margin-top:20px;
  }
  
  .widget .panel, .widget.panel {
    overflow: hidden;
  }
  
  .widget {
    margin-bottom: 20px;
    border: 0;
  }
  
  .bg-gray-darker {
    background-color: #232735;
    color: #fff!important;
  }
  
  .half-float {
    position: relative;
    margin-bottom: 65px;
  }
  
  .half-float .half-float-bottom, .half-float .half-float-top {
    position: absolute;
    left: 50%;
    bottom: -60px;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    z-index: 2;
  }
  
  .thumb128 {
    width: 128px!important;
    height: 128px!important;
  }
  
  .half-float+* {
    margin-top: -55px;
    padding-top: 65px;
  }
  
  .m0 {
    margin: 0!important;
  }
  
  .bg-gray-dark {
    background-color: #3a3f51;
    color: #fff!important;
  }
  
  .row-table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .row-table>[class*=col-] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle;
  }
  

.row {
    margin-right: 0;
    height: 100vh;
}

.col {
    margin: 20px;
    align-items: center;
}


.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5em 1em;
    margin-right: 80px;
    margin-left: 80px;
    cursor: pointer;
    border-radius: 10px;
}

.button-addon2 {
    display: flex;
    position: relative;
    background-color: #D2BAFF;
    font-family: 'Oswald', sans-serif;
    border-radius: 1px;
}

.img {
    margin-top: 5rem;
    margin-left: 0%;
    padding-left: 0%;
    display: flex;
    align-content: flex-start;
    width: 25rem;
    height: 25rem;
    border-radius: 10%;

}

.btn {
    background-color: #76EAD7;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    margin: 1%;
    font-size: 20px;
}

.grey {
    color: rgba(39, 39, 39, 0.54);
    line-height: 1.6;
}

.details {
    background: rgba(238, 238, 238, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    height: 70%;
    margin-top: 5rem;
    margin-left: -20rem;
}

@media (max-width: 575.98px) {
    .img {
        margin: auto;
    }

    .card-title {
        font-size: 16px;
    }

    .grey {
        margin-left: 2rem;
    }

    .btns {
        padding: 2em 1em 2em;
    }

    .btn {
        font-size: 17px;
    }
}
