<div class="row">
  <app-navlateral class="col-3"></app-navlateral>
  <div class="col-2">
    <div *ngIf="currentUser; else loggedOut">
      <h3>
        <strong>Bienvenido(a) {{user.name}}</strong>
      </h3>
      <img src="{{ user.photo }}" alt="Foto de Perfil">
      <br>
      <p><strong>Surname:</strong>{{user.surname }}</p>
      <p><strong>Email:</strong>{{user.email }}</p>
      <p><strong>Ciudad:</strong>{{user.city }}</p>
      <p><strong>Teléfono:</strong>{{ user.phone}}</p>
    </div>
    <ng-template #loggedOut>
      Please login.
    </ng-template>
  </div>
</div>


    <!-- 
<div class="container" *ngIf="currentUser; else loggedOut">
  <strong>Tienes los siguientes acessos:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">{{ role }}</li>
  </ul>
</div> -->


