h1{
    font-size: 75px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form-control{
    background-color: #D2BAFF;
    border: 1px;
}

.btn.submit.btn-md {
    background-color: #D2BAFF;
    font-family: 'Oswald', sans-serif;
    border-radius: 3px;
    align-items: center;
} 

.button {
    padding: 3em 1em;
    cursor: pointer;
    border-radius: 10px;  
}

#ownerForm{
    font-family: 'Oswald', sans-serif;
}
