<div>
    <h2>Editar Servicio</h2>
    <div>
      <label>Título:
        <input [(ngModel)]="facilityData.title" class="form-control" placeholder="Título" />
      </label><br>
      <label>Descripción:
        <input [(ngModel)]="facilityData.description" class="form-control" placeholder="Descripción" />
      </label><br>
      <label>Precio Por Hora:
        <input [(ngModel)]="facilityData.pricePerHour" class="form-control" placeholder="Precio Por Hora" />
      </label><br>     
    <button (click)="updateFacility()">Actualizar</button>
    <!-- <button (click)="deleteFacility()">Borrar Servicio</button> -->
</div>
