<div style="padding-top: 9rem; width:auto ; margin-left: 3rem; font-family: sans-serif; font-size: 20px; color:rgb(21, 21, 84); "> 
    <th scope="row" routerLink="/profile">Profile</th>
    <br>
    <th scope="row" routerLink="/client">Solicitudes Enviadas</th>
    <br>
    <th scope="row" routerLink="/facility-board/facilityA">Mis Servicios</th>
    <br>
    <th scope="row" routerLink="/mycontracts">Solicitudes Pendientes</th>
    <br>
    <th scope="row" routerLink="/nextjobs">Mi Agenda</th>
    <br>
    <th scope="row" routerLink="/facility-add">Añadir un Servicio</th>
    <br>
    <th scope="row" routerLink="/allusers">Todos los Usuarios</th>
    <br>
    <th scope="row" routerLink="/allfacilities">Todos los Servicios</th>
    <br>
    <th scope="row" routerLink="/allcontracts">Todos los Contractos</th>
</div>
