.form-control{
    background-color: #ffffff;
    border: 1px;
    font-size: 20px;
}

.btn.submit.btn-md {
    background-color: #f8f6fa;
    cursor: pointer;
}


.row{
  margin: 0;
}

.mb-3{
  font-size: 20px;
}

