<body>
    <h1 style="text-align: center; color: #290981; font-family: 'Dancing Script', cursive;">Añade un nuevo servicio</h1>
  
    <div class="container d-grid gap-5 col-4 p-3 mb-3">
      <form id="addForm">
  
        <div class="mb-3">Título:
          <input [(ngModel)]="facilityData.title" class="form-control" placeholder="Title" />
        </div>
        <div class="mb-3">Descripción:
            <input [(ngModel)]="facilityData.description" class="form-control" placeholder="Descripción" />
        </div>
        <div class="mb-3">Precio Por Hora:
            <input [(ngModel)]="facilityData.pricePerHour" class="form-control" placeholder="Descripción" />€
        </div>
        <div>Nombre:
            <input [(ngModel)]="facilityData.user.name" class="form-control" placeholder="Nombre" />
          </div><br>
        <div>Ciudad:
          <input [(ngModel)]="facilityData.user.city" class="form-control" placeholder="Ciudad" />
        </div><br>
        <br>
        <div class="button">
          <div class="d-flex justify-content-center">
            <button class="btn submit btn-md" (click)="addFacility()" style="height: 2.5rem; width: 12rem;">Submit</button>
          </div>
        </div>
      </form>
    </div>
  
  </body>
