<div class="card-body border border-dark">
      <div class="texto " *ngFor="let facility of facility"> 
        <a href="/facility-details?id={{facility?.id}}"> <img src="{{facility?.user?.photo}}" alt="photo del assistente" class="imagencarta"></a>
        
        <p class="card-text">JOHN DOE</p>
        <p>Barcelona</p>
        <p>4 años de experencia</p>
        <p>Curriculum</p>
        <p>Ayuda a domicilio</p>
        <div>
        </div>
      </div>
      <div class="container-fluid">
      </div>
    </div>