.btn{
    background-color: #76EAD7;
}

.navbar{
font-family: 'Atma', cursive;
font-family: 'Creepster', cursive;
font-family: 'Emilys Candy', cursive;
font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 50%;
}

.pe5{
    justify-content: space-around;
}
.pos-abs{
    position: absolute;
    right: 15px;
    top:20px;
}
.pad1{
    margin-right: 1rem;
}
.list-none{
    list-style: none;
}