<nav class="navbar navbar-expand-lg sticky-top align-items-center" style="background-color: #393E46;">
  <div class="container-fluid">
    <a class="" href="#"><img class="logo p-0 my-2" src="assets/img/LogoMainLogoUnique.png"></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link active text-white me-md-2 fw-bolder" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="nav-link active text-white me-md-2 fw-bolder" href="facility">Servicios</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a *ngIf="showAdminBoard" class="nav-link active text-white me-md-2 fw-bolder" 
      routerLink="profile">Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a *ngIf="showModeratorBoard" class="nav-link active text-white me-md-2 fw-bolder"
      routerLink="facility-board">Assistente</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a *ngIf="isLoggedIn" class="nav-link active text-white me-md-2 fw-bolder" 
      routerLink="client">Cliente</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" role="search">
      <input class="form-control me-2"type="search" id="city" name="city" [(ngModel)]="city"placeholder="Filtra por Ciudad">
      <button class="btn btn-outline-success" [routerLink]="['/facility-city']" [state]="{city}">Buscar</button>
     </form>
    <a class="nav-link active text-dark me-md-2 fw-bolder">
      <select onchange="doGTranslate(this);">
        <option value="">Select Language</option>
        <option value="es|eu">Basque</option>
        <option value="es|ca">Catalan</option>
        <option value="es|en">English</option>
        <option value="es|gl">Galician</option>
        <option value="es|pt">Portuguese</option>
        <option value="es|es">Spanish</option>
      </select>
      <div id="google_translate_element2"></div>
    

    <div id="google_translate_element2"></div>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="d-sm-flex pe-5 mt-3 ">
      <div class="d-grid pe-5 d-md-flex justify-content-md-end gap-4 mr-5" *ngIf="!isLoggedIn">
        <li class="nav-item ms-5 text-dark fw-bolder ">
          <a class="btn btn-lg  button " routerLink="/register">Registro</a>
        </li>
        <li class="nav-item mb-2 text-dark fw-bolder">
          <a class="btn btn-lg button " routerLink="/login">Iniciar sesión</a>
        </li>
      </div>
      <button (click)="toggleDarkTheme()" class="rounded-3 text-white p-3 mr-5" style="height: 4.25rem;">Modo Oscuro</button>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item ms-2 text-white fw-bolder">
          <a href class="btn btn-lg btn-danger p-3 mb-3 ml-3" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
      