<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid mx-4">
    <a class="navbar-brand" href="#"><img class="logo" src="assets/img/LogoMainLogoUnique.png"></a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample03" style="">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item me-5">
          <a class="nav-link active text-white me-md-2 fw-bolder" aria-current="page" href="#">Inicio</a>
        </li>

      </ul>
      <div class="d-grid pe-5 d-md-flex justify-content-md-start">
        <li class="nav-item mb-2 text-dark fw-bolder ">
          <a class="btn btn-lg  button " routerLink="/register">Registro</a>
        </li>
        <li class="nav-item text-dark fw-bolder">
          <a class="btn btn-lg button " routerLink="/login">Iniciar sesión</a>
        </li>
      </div>
    </div>
  </div>
</nav>
