.btn{
    background-color: #76EAD7;
}

.navbar{
font-family: 'Atma', cursive;
font-family: 'Creepster', cursive;
font-family: 'Emilys Candy', cursive;
font-family: 'Montserrat', sans-serif;
}

.logo{
    width: 5rem;
}