<div class="row">
  <app-navlateral class="col-3"></app-navlateral>
  <div class="col-2">
    <div class="row  justify-content-center details padding: 1rem; "
      style="width:40vw; padding-top: 8rem; margin-left:10rem;">
      <h1 style="color:rgb(21, 21, 84);">Añade todos los datos</h1>
      <div>
        <label class="mb-3">Título:
          <input [(ngModel)]="facilityEdit.title" class="form-control" placeholder="Título" />
        </label><br>
        <div class="mb-2">Categoria:
          <select [(ngModel)]="facilityEdit.categoryId" class="form-control" placeholder="Categoria">
            <option value="1">Cuidados</option>
            <option value="2">Limpieza</option>
            <option value="3">Recados</option>
            <option value="5">Movilidad</option>
            <option value="4">Viajes</option>
          </select>
        </div>
        <label class="mb-3">Descripción:
          <input [(ngModel)]="facilityEdit.description" class="form-control" placeholder="Descripción" />
        </label><br>
        <label class="mb-3">Precio Por Hora:
          <input [(ngModel)]="facilityEdit.pricePerHour" class="form-control" placeholder="Precio Por Hora" />
        </label><br>
        <div class="button">
          <div class="d-flex justify-content-center">
            <button class="btn submit btn-md btn-primary" (click)="updateFacility()"
              routerLink="/home">Actualizar</button>
            <button class="btn submit btn-md btn-danger" (click)="deleteFacility(facilityEdit.id)"
              routerLink="/home">Borrar Servicio</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>      
