<div class="row">
  <app-navlateral class="col-3"></app-navlateral>
<div class="container d-grid gap-5 col-4 p-3 mb-3 padding: 4rem; margin-top:20rem">
    <h2>Editar Servicio</h2>
    <div>
      <label class="mb-3">Título:
        <input [(ngModel)]="facilityData.title" class="form-control" placeholder="Título" />
      </label><br>
      <div class="mb-2">Categoria:
        <select formControlName="pricePerHour" class="form-control" placeholder="Categoria" >
          <option value="1">Cuidados</option>
          <option value="2">Limpieza</option>
          <option value="3">Recados</option>
          <option value="5">Movilidad</option>
          <option value="4">Viajes</option>
        </select>
      </div>
      <label class="mb-3">Descripción:
        <input [(ngModel)]="facilityData.description" class="form-control" placeholder="Descripción" />
      </label><br>
      <label class="mb-3">Precio Por Hora:
        <input [(ngModel)]="facilityData.pricePerHour" class="form-control" placeholder="Precio Por Hora" />
      </label><br>     
    <button  class="btn submit btn-md btn-primary"(click)="updateFacility()"  style="height: 2.5rem; width: 8rem; padding: 2px;">Actualizar</button>
    <button class="btn submit btn-md btn-danger"(click)="deleteFacility(facilityData.id)"  style="height: 2.5rem; width: 8rem; padding: 2px;">Borrar Servicio</button>
</div>
</div>
