<footer class="bg-dark d-flex flex-wrap align-items-center py-4 text-white">
  <div class="container-fluid text-center">
    <div class="row d-flex justify-content-around">
      <div class="col text-start left">
        © 2022 UniqueCareCompany, Inc
      </div>
      <div class="col">
        <ul class="nav justify-content-center nav-icons">
        <li class="nav-item px-3 pt-1">
            <img class="mx-2" src="assets/img/Twitter-logo.svg.png" width="30">
        </li>
        <li class="nav-item px-3 pt-1">
              <img class="gitlogo mx-2 " src="assets/img/Octicons-mark-github.svg" width="30">
            </li>
            <li class="nav-item px-3 pt-1">
            <img  src="assets/img/Instagram.svg.png" width="30">
        </li>
      </ul>
      </div>
      <div class="col">
        <ul class="nav justify-content-around">
          <li class="nav-item"><a href="#" class="nav-link text-white black-hover">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white black-hover">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white black-hover">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-white black-hover">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
