<div>

  <!-- <input matInput [ngxMatDatetimePicker]="picker" placeholder="Elige un fecha y hora"
  [(ngModel)]="newInterviewDate">
<mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
<ngx-mat-datetime-picker #picker>
  <ng-template>
      <div class="flexMe">
          <mat-icon>check_circle_outline</mat-icon>
          <span>&nbsp;Aceptar</span>
      </div>
  </ng-template>
</ngx-mat-datetime-picker>
</mat-form-field> -->

  <form class="d-flex flex-column justify-content-center ms-2" style="width: 60rem;">
    <div class="row form-group ">
      <label for="datetime" class="col-sm-1 col-form-label">Fecha inicio</label>
      <div class="col-sm-4">
        <input [(ngModel)]="start" type='text' class="form-control" />
        <!-- <div class='input-group date' id='datetimepicker1'>
          <input [(ngModel)]="start" type='text' class="form-control" />
          <span class="input-group-addon">
            <i class="bi bi-calendar"></i>
          </span>
        </div> -->
      </div>
    </div>
    <div class="row form-group ">
      <label for="datetime" class="col-sm-1 col-form-label">Fecha fin</label>
      <div class="col-sm-4">
        <input [(ngModel)]="finish" type='text' class="form-control" />
        <!-- <div class='input-group date' id='datetimepicker2'>
          <input [(ngModel)]="finish" type='text' class="form-control" />
          <span class="input-group-addon">
            <span><i class="bi bi-calendar"></i></span>
          </span>
        </div> -->
      </div>
    </div>
   
    

    <div>
      <p>start date: {{start}}</p>
      <p>finish date: {{finish}}</p>
    </div>
    <div class="row form-group ">
      <label for="datetime" class="col-sm-1 col-form-label">Total price:</label>
      <div class="col-sm-6">
        <p>{{contractData.totalPrice}}$</p>
      </div>
    </div>
    <button (click)="getTotalPrice()">Calculate</button>
    <div class="btns">
      <button class="btn btn-lg button" (click)="sendContractRequest()">
        Enviar solicitud
      </button>
    </div>
  </form>

  <!-- <div class="mb-3"> Total a pagar:
    <p  class="form-control" placeholder="Título">{{totalPrice}}</p>
  </div> -->
</div>

<!-- <div class="button">
  <div class="d-flex justify-content-center">
    <button class="btn btn-lg button" (click)="sendContractRequest()" style="height: 2.5rem; width: 12rem;">Enviar Solicitud</button>
  </div>
  </div> -->